.main-nav{
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    font-weight: 1000;
    font-size: 28px;

}

.glow {
    /* text-shadow: 0 0 5px #e8e0e0; */
    text-decoration: none;
    text-align: center;
    position: relative;
    top: 7px;
    margin-left: 30px;
    margin-right: 25px;
    background: rgb(174,120,255);
    background: linear-gradient(149deg, rgb(253, 117, 255) 0%, rgb(92, 255, 228) 100%);
    background-clip: text;
    color: transparent;
  }
  

.main-nav {
    background-image: url(../../assets/imagenes/background.png); 
}

.logo-nav{
    height: 110px;
    margin-left: 10px;
}

.glow:hover{
    background: rgb(148,255,120);
    background: linear-gradient(149deg, rgb(127, 255, 95) 0%, rgb(255, 95, 242) 100%);
    background-clip: text;
    color: transparent;
   
}